<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Hassan Dondo Toure</title>

			<!-- Custom styles for this template go here -->
				<link rel="stylesheet" href="styles.css">

			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif]-->			
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Über Hassan Toure</h1>
			</div><!-- end header-->
			<table cellspacing="20px"></table>
			<tr>
			<div class="image">
				<td><img src="ID.png" alt="Hassan img" height="170px"></td>
				<td>
					<p><em>Student an der <strong><a href="https://www.hs-fulda.de/en/home" target="_blank">
						Hochschule Fulda University of Applied Sciences</a></strong></em></p>
					</td>
				</tr>
			</table>
			</div><!-- end image-->
			<div class="intro column">
				<h1>Introduction</h1>
				<p>
				
                    Ich bin 27 Jahre alt und bin ich oft mit Windows Servers und Linux Admninistration, Ich spiele gerne Videogames und ich treibe 
                    unterschiedliche sport wie Fußball, Basketball und Schwimmen.
				</p>
			</div><!-- end intro-->
			<div class="skills column">
				<h3>My Skills</h3>
				<ul id="skill-list">
					<li>Netwerks Administration</li>
					<li>Web Development</li>
					<li>Teamwork</li>						
					<li>Analytical skills</li>
				</ul><!--end skill-list-->
			</div><!-- end skills-->
			<div class="main-text">
				<h2>Mehr über mich</h2>
				<p>
				
                    Ich habe Netwerks Administration und Systemen studiert und ich interessiere mich auf Web Entwicklung. Als ich in Uni war ich hatte einen Projekt,
                     wo ich eine Webseite entwickeln mit HTML, CSS, und ein bisschen Javascripts gemacht habe.
				</p>
				<p>
					Ich bin eine sehr energiegeladene und motivierte Person und liebe es, als Mitglied oder Leiter eines Teams zu arbeiten. Besonders gerne arbeite ich mit wechselnden Projekten und bringe sie in schnellem Tempo, aber mit hoher Präzision voran. Ich bin gesprächig und kontaktfreudig, 
                    aber auch dafür bekannt, dass ich mich bei detaillierten Arbeiten wie Programmieren oder Entwerfen "in die Zone" begebe
				</p>
			</div><!-- end main-text-->
		</div><!--end container-->
	</body>
</html>