<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Introduction</title>
  </head>
  <body class="bg-gray-300 m-4 shadow-lg">
    <header class="border border-b-4 border-orange-400">
      <div class="flex justify-between m-12">
        <!--Left Side-->
        <div class="flex">
          <img
            src="NomanDp.jpeg"
            alt="Noman Ali"
            class="w-32 h-32 rounded-full"
          />
          <div class="m-4">
            <h1 class="uppercase font-bold">Noman Ali</h1>
            <p class="text-sm">Web Developer</p>
          </div>
        </div>

        <!--Right Side-->
        <div class="font-bold">
          <p>noman.ali7383@gmail.com</p>
          <p>+4917663070153</p>
          <p>Marquardstr.36, Fulda, Germany</p>
        </div>
      </div>
    </header>

    <!--Personal Information-->
    <main class="border border-orange-400">
      <div class="flex m-8">
        <h1 class="uppercase font-bold text-2xl">Personal Profile</h1>
        <p class="ml-16">
          A highly qualified Software Engineer with significant experience in
          multiple software development technologies and platforms. I love
          solving problems and working on challenging ideas. I am a quick
          learner who is always excited to learn new technologies. I have worked
          with various programming languages and tools used throughout the
          software development process such as version control, SQL, and
          Databases. I have strong problem-solving capabilities, as well as
          knowledge in JavaScript and React js, and design patterns approaches
          along with great leadership and communication skills.
        </p>
      </div>
    </main>

    <!--Experience-->
    <main class="mt-2 mb-2 pb-4 border-b border-orange-400">
      <div class="flex m-8">
        <h1 class="uppercase font-bold text-2xl">Work Experience</h1>
        <div class="ml-12">
          <h2 class="uppercase font-bold">React js Developer</h2>
          <h4 class="font-bold uppercase text-sm">
            MEGANOS SOFTWARES, GUJRAT, PAKISTAN
          </h4>
          <p class="text-sm mb-4">01/01/2021 – 08/08/2021 – Gujrat, Pakistan</p>
          <div class="mt-4">
            <p class="font-bold">
              React.js Internship as a Frontend Developer:
            </p>
            <p>
              During my first year of my bachelor, I started my internship as a
              react.js developer at Maganos Softwares Pvt Ltd. Where I was
              designing and building the core frontend react components. And I
              worked on various critical projects and mentioned the project
              links below. I also get my hands dirty with different web
              technologies there as a front-end developer.
            </p>
          </div>
        </div>
      </div>
    </main>

    <!--Skills-->
    <main class="m-8 border-b border-orange-400 pb-8">
      <div class="flex">
        <h1 class="font-bold text-2xl uppercase">Key Skills</h1>
        <ul class="ml-20 text-sm list-disc">
          <li>HTML</li>
          <li>CSS3</li>
          <li>Bootstrap</li>
          <li>Tailwindcss</li>
          <li>JavaScript</li>
          <li>React Js</li>
          <li>Redux</li>
          <li>Firebase</li>
        </ul>
        <ul class="ml-16 text-sm list-disc">
          <li>Photopea</li>
          <li>Figma</li>
          <li>Microsoft Offices</li>
          <li>Wordpress</li>
          <li>Jira Tool</li>
          <li>PWA</li>
          <li>Git</li>
          <li>GitHub</li>
        </ul>
      </div>
    </main>

    <!--Education-->

    <section class="m-8 pb-4">
      <div class="flex">
        <h1 class="font-bold text-2xl uppercase">Education</h1>
        <div class="ml-14">
          <div class="">
            <h2 class="font-bold">Master Global Software Development</h2>
            <p class="text-sm">
              Fulda University of Applied Science, Fulda, Germany
            </p>
            <p class="text-sm">22-10-2021 – Current</p>
          </div>
          <div class="mt-4">
            <h2 class="font-bold">Bachelor’s in software engineering</h2>
            <p class="text-sm">University of Gujrat, Gujrat, Pakistan</p>
            <p class="text-sm">1-09-2017 – 01-09-2021</p>
          </div>
        </div>
      </div>
    </section>

    <!--Projects-->
    <section class="m-8 pb-4">
      <div class="flex">
        <div>
          <h1 class="font-bold text-2xl uppercase">Projects</h1>
        </div>
        <div class="ml-20">
          <ul class="text-sm list-disc">
            <li>Allied Health Services Gujrat – BS Final Year Project</li>
            <li>Add Meetups – React JS Project</li>
            <li>Expense Application</li>
            <li>Admin Dashboard</li>
            <li>Contact Application</li>
          </ul>
        </div>
      </div>
    </section>

    <!--Footer-->
    <footer class="text-center bg-gray-800 text-white p-2">
      <p>GDSD Course Winter-Semester&copy;22-23</p>
    </footer>
  </body>
</html>
