 <!DOCTYPE HTML>
<HTML>

<Head>
  <meta charset="UTF-8">
  <title> About Vichitar</title>

  <!--Adding bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Viewport tag-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--Using Google Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sono">

  <style media="screen">
    .opacity-5::before{
      opacity: 0.5;
      z-index: -1;
    }
    .strong{
      font-weight: bold;
    }
    h5 {

      font-weight:bold;
    }
    .bg-color-grey{
      background-color: rgba(0, 0, 0, 0.4);
    }

    body {
      background-color: beige;/*#ebebe0*/
      font-family: "Sono", sans-serif;
    }
    p{
      color: white;
    }

    ::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: grey;
    }
  </style>


</Head>

<Body>
  <div class="container-fluid p-0 m-0" style="overflow-x:hidden">

    <div class="page-header  text-white bg-color-grey bg-gradient" style="padding:0.3em">
      <h2 style="margin-left:0.5em"> Vichitar's Profile </h2>
    </div>


    <div class="row bg-gradient ">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:1em; padding-left:2em">
        <div class="row bg-color-grey bg-gradient rounded border" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="title-block">
              <h3 >About Me</h3>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 text-white">
                <p>I am currently pursuing M.Sc. Global Software Development at Hochschule Fulda University of Applied Science. I aspire to be a full-stack web developer.</p>
              </div>

              <div class="col-xs-12 col-sm-6">

                <ul class="list-unstyled">
                  <li>
                    <span class="text-dark strong w-auto">Age</span>
                    <span class="text-white w-auto align-content-left float-end">22</span>
                  </li>

                  <li>
                    <span class="text-dark strong w-auto">Nationality</span>
                    <span class="text-white w-auto align-content-left float-end">Indian</span>
                  </li>

                  <li><span class="text-dark strong w-auto">Address</span>
                    <span class="text-white w-auto align-content-left float-end">Leipziger Street 109, Fulda, Germany</span>
                  </li>

                  <li>
                    <span class="text-dark strong w-auto">E-mail</span>
                    <span class="text-white w-auto align-content-left float-end">amandagar43@gmail.com</span>
                  </li>

                  <li>
                    <span class="text-dark strong w-auto">Phone</span>
                    <span class="text-white w-auto align-content-left float-end">+49 15510541403</span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>


        <div class="row bg-color-grey bg-gradient rounded border" style="margin-top:1em">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="title-block">
              <h3>Education</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="text-dark">
                <h5>M. Sc. Global Software Development</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  Hochschule Fulda University of Applied Science
                </p>
                <p class="float-right p-0 m-0 small">
                  Fulda, Germany
                </p>
                <p class="float-right p-0 m-0 small">
                  2022-24
                </p>
              </div>
              <div class="text-dark">
                <h5>B. Tech. Computer Science and Engineering</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  UIET, Kurukshetra University
                </p>
                <p class="float-right p-0 m-0 small">
                  Kurukshetra, India
                </p>
                <p class="float-right p-0 m-0 small">
                  2017-21
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 text-dark">
              <div class="text-dark">
                <h5>Senior Secondary Education</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  Rishikul Vidyapeeth
                </p>
                <p class="float-right p-0 m-0 small">
                  Sonipat, India
                </p>
                <p class="float-right p-0 m-0 small">
                  2015-17
                </p>
              </div>
              <div class="text-dark">
                <h5>Secondary Education</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  Rishikul Vidyapeeth
                </p>
                <p class="float-right p-0 m-0 small">
                  Sonipat, India
                </p>
                <p class="float-right p-0 m-0 small">
                  2013-15
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="row bg-color-grey bg-gradient rounded border" style="margin-top:1em">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="title-block">
              <h3>Work Experience</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="text-dark">
                <h5>Sofware Engineering Associate</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  Dassault Systemes Global Services
                </p>
                <p class="float-right p-0 m-0 small">
                  Pune, India
                </p>
                <p class="float-right p-0 m-0 small">
                  10/2021-06/2022
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="text-dark">
                <h5>Sofware Engineer Trainee</h5>
              </div>
              <div class="text-white w-100 p-0 m-0">
                <p class="float-right p-0 m-0 small">
                  Yamaha Motors India Private Limited
                </p>
                <p class="float-right p-0 m-0 small">
                  Surajpur, India
                </p>
                <p class="float-right p-0 m-0 small">
                  07/2021-10/2022
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="row bg-color-grey bg-gradient rounded border" style="margin-top:1em">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="title-block">
              <h3>Skills</h3>
            </div>
          </div>

          <ul class="list-unstyled">
            <li>
              <span class="text-dark strong  w-auto">Core Programming</span>
              <span class="text-white small"> C | C++ | Java | Python | C#</span>
            </li>
            <li>
              <span class="text-dark strong  w-auto">Web Technologies</span>
              <span class="text-white small"> HTML | CSS | Javascript | JQuery | Bootstrap</span>
            </li>
            <li>
              <span class="text-dark strong  w-auto">Machine Learning</span>
              <span class="text-white small"> Numpy | Pandas | Pyplot | Seaborn | Scikit-Learn | Librosa | Keras</span>
            </li>
            <li>
              <span class="text-dark strong  w-auto">Databases</span>
              <span class="text-white small"> My SQL | Microsoft SQL</span>
            </li>
          </ul>
        </div>


        <div class="row bg-color-grey bg-gradient rounded border" style="margin-top:1em; margin-bottom:1em;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="title-block">
              <h3>Languages Known</h3>
            </div>
          </div>

          <ul class="list-unstyled">
            <li>
              <span class="text-dark strong  w-auto">English</span>
              <span class="text-white small"> Proficient</span>
            </li>
            <li>
              <span class="text-dark strong  w-auto">Haryanvi</span>
              <span class="text-white small"> Native</span>
            </li>
            <li>
              <span class="text-dark strong  w-auto">Hindi</span>
              <span class="text-white small"> Native</span>
            </li>
          </ul>

        </div>


      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-right:1em">
        <img class="img-fluid rounded" src="Photo_Vichitar.jpg" alt="Vihchitar's Photo" style="height:auto; margin-top:1em">
      </div>
    </div>

  </div>

</Body>

</HTML>
